html, body{
    font-family: 'Gotham A';
    font-weight: 400;
    font-style: normal;
    font-size:36px;
}

button{
  font-size:24px;
  margin:10px;
}

body div#cachebox{
    display:none;
}

.panel{
  color:#fff;
  position:absolute;
  top:0px;
  left:0px;
  background:#002;
  padding:0%;
  display: none;
  width:100%;
  min-height:100%;
  background:#002 url('../img/bkg_male.jpg');
  background-size: cover;
}

.female .panel{
    background:#002 url('../img/bkg_female.jpg');
    background-size: cover;
}

.panel .back, .panel .start {
    display: block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0px;
  line-height: 40px;
  padding: 0px;
  background: transparent;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border: solid 2px #fff;
  border-color: rgba(0,182,220,0.9);
  border-radius: 45px;
  top: 20px;
  left: 1%;
}

.female .panel .back{
    border-color: rgba(252,138,252,0.9);
}

/*.panel .back:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
  border-color: rgba(221, 221, 221, 0);
  border-right-color: #ddd;
	border-width: 30px;
	margin-top: -30px;
}*/

.panel .avatargroup{
    position:absolute;
    bottom:5%;
    width:100%;
    margin-left: 0%;
    z-index:-1;
}

.panel .avatar{
    width:50%;
    float:left;
}

.questiongroup{
    width: 60%;
  margin: 10px 20%;
}

.questiongroup .number{
  display:none;
}

.questiongroup h1{
    margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 60px;
}

.questiongroup h2{
    margin-top: 30px;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.questiongroup h1 span{
    font-size:18px;
    color:#5da6f5;
    display:block;
}

.female .questiongroup h1 span{
    color:#fc8afc;
}

.questiongroup .answers{
    width: 70%;
    min-height:250px;
    margin: 0%;
    background: rgba(0,0,0,0.3);
    float: left;
    padding: 20px 15% 50px 15%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: solid 2px #fff;
    border-top-color: rgba(255,255,255,0.25);
}

.questiongroup .answers.temperature{
    width:100%;
    padding: 20px 0% 50px 0%;
}

.questiongroup .answers.temperature #tempscale{

}

.questiongroup .answers.temperature #tempscale .flare{
    width:100%;
    position: absolute;
}

.questiongroup .answers.temperature #temptable{
    width: 90%;
margin: 10% 5% 0% 5%;
position: relative;
}

.questiongroup #temperature{
    clear: both;
margin-top: -35px;
width: 90%;
  margin: -20px 5% 0px 5%;
height: 1px;
background-color: rgba(255,255,255,0.4);
border: none;
}


.ui-widget-content .ui-state-default{
    border: none;
    background: transparent url('../img/temperature_tab.png') center center;
    margin: -88px 0px 0px -100px;
    width: 200px;
    height: 200px;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
}

/* selected link */
.ui-widget-content .ui-state-default:link,
.ui-widget-content .ui-state-default:visited,
.ui-widget-content .ui-state-default:hover,
.ui-widget-content .ui-state-default:active {
    border: none;
    box-shadow:none;
    outline:none;
}

.ui-widget-content .ui-state-default span{
    display:none;
}

.questiongroup a.continue{
    font-weight: 300;
    background: transparent;
    color: #fff;
    border-radius: 0px;
    width: auto;
    display: block;
    padding: 5px 50px;
    border:none;
    text-transform:uppercase;
    text-decoration:none;
    font-size:20px;
    position:absolute;
    bottom:50px;
    left:50%;
    border:solid 1px #fff;
    border-color: rgba(255,255,255,0.4);
    margin:0px;
    margin-left:-100px;
}

.questiongroup ul li, .yesno li{
    float: left;
    width: 40%;
    margin: 0px 0% 20px 10%;
    border-bottom:solid 1px transparent;
}

.questiongroup ul li:hover{
    border-bottom:solid 1px #fff;
    border-bottom-color:rgba(255,255,255,0.25);
}

.questiongroup .yesno{
    border: none;
background: transparent;
width: 100%;
padding: 0px 0%;
margin: -62px 0px 0px 0px;
position: relative;
}

.questiongroup .yesno li{
    float: left;
    width: 50%%;
    margin: 0px 0% 20px 0%;
    border-bottom:solid 1px transparent;
}

.questiongroup .yesno li a, .questiongroup li a, .questiongroup .answers li label{
    width: 100%;
    display: block;
    padding: 10px 0px;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
}

.questiongroup ul.yesno li:hover, .questiongroup ul.multichoice li:hover{
    border-bottom:solid 1px transparent;
}

.questiongroup ul.yesno li a{
    width: 100%;
    display: block;
    padding: 10px 0px;
    color:#fff;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    text-align:center;
}

.questiongroup .answers .multichoice{
    margin-top:90px;
}

.questiongroup .answers .multichoice li{
    width: 50%;
}

.questiongroup .answers .multichoice li label{
    float:left;
    width:auto;
    padding: 0px;
}

.questiongroup .answers .multichoice li input[type=checkbox]{
    float:left;
  margin-right: 20px;
  vertical-align: middle;
  transform: scale(2);
  -webkit-transform: scale(2);
}

#resultgroup ol.products{
  list-style-type: upper-roman;
  margin:50px;
}

.answers ul{
  padding-left:20px;
}

.questiongroup #tempscale{
    float: left;
width: 100%;
margin-top: 10px;
position: absolute;
bottom: 300px;
}
