/* Turn off transition animation */
.mobile .introanim #mask1,
.mobile .introanim #mask2,
.mobile .introanim #mask3,
.mobile .introanim #mask4,
.mobile .introanim #mask5,
.mobile .introanim #mask6{
    display:none;
    -webkit-animation: inherit;
    -moz-animation:    inherit;
	-o-animation:      inherit;
	animation:         inherit;
}

.mobile .introanim .questiongroup, .mobile .introanim .avatargroup{
	-webkit-animation: fadeinmax 1s linear 0s 1 normal forwards;
	-moz-animation:    fadeinmax 1s linear 0s 1 normal forwards;
	-o-animation:      fadeinmax 1s linear 0s 1 normal forwards;
	animation:         fadeinmax 1s linear 0s 1 normal forwards;
}

.mobile .introanim #canvas{
	-webkit-animation: fadein 5s linear 0s 1 normal forwards;
	-moz-animation:    fadein 5s linear 0s 1 normal forwards;
	-o-animation:      fadein 5s linear 0s 1 normal forwards;
	animation:         fadein 5s linear 0s 1 normal forwards;
}

.mobile #question.panel.q1 .avatargroup .zoomer{
	-webkit-animation: inherit;
	-moz-animation:    inherit;
	-o-animation:      inherit;
	animation:         inherit;
}

.mobile #question.panel.q2 .zoomer.male, .mobile #question.panel.q2 .avatargroup .zoomer.female{
    -webkit-animation: inherit;
	-moz-animation:    inherit;
	-o-animation:      inherit;
	animation:         inherit;
    display:none;
}

.mobile #question.panel.q2 .questiongroup .background,
.mobile #question.panel.q2 .questiongroup h1,
.mobile #question.panel.q2 .questiongroup .answers{
   -webkit-animation: fadein 1s ease-out 0s 1 normal forwards;
   -moz-animation:    fadein 1s ease-out 0s 1 normal forwards;
   -o-animation:      fadein 1s ease-out 0s 1 normal forwards;
   animation:         fadein 1s ease-out 0s 1 normal forwards;
}

.mobile #question.panel.q2 .questiongroup .spcontinue{
    -webkit-animation: fadein 1s ease-out 1s 1 normal forwards;
    -moz-animation:    fadein 1s ease-out 1s 1 normal forwards;
    -o-animation:      fadein 1s ease-out 1s 1 normal forwards;
    animation:         fadein 1s ease-out 1s 1 normal forwards;
}

/* Portrait */
@media only screen
  and (max-device-width: 800px){

      #helpbox {
          font-size:12px;
          line-height:14px;
          width:80%;
          left:5%;
          padding:5%;
      }

      .panel .windowzoom {
          width: 640;
          height: 100%;
          left: 0%;
          margin-left: 0px;
      }

      .questiongroup h1{
          font-size:40px;
      }

      #question.q1.panel .questiongroup h1{
          font-size:40px;
      }

      #intro .questiongroup h1{
          top:37%;
          font-size: 20px;
      }

      #question.q1.panel .questiongroup h1{
          top:45%;
      }

      #intro .questiongroup h1 span, #question.q1.panel .questiongroup h1 span {
          font-size:12px;
          line-height: 40px;
      }

      #intro.panel .questiongroup .answers, #question.q1.panel .questiongroup .answers {
          height:100%;
          top:0%;
      }

      #intro.panel .questiongroup .avatargroup .zoomer, #question.q1.panel .questiongroup .avatargroup .zoomer{
          position:absolute;
          float:left;
          margin:0px;
          padding:0px;
      }

      #intro.panel .questiongroup .avatargroup .zoomer.male, #question.q1.panel .questiongroup .avatargroup .zoomer.male{
          top:0%;
          left:0%;
          transform-origin: 30% 10%;
      }

      #intro.panel .questiongroup .avatargroup .zoomer.female, #question.q1.panel .questiongroup .avatargroup .zoomer.female{
          bottom:0%;
          left:0%;
          transform-origin: 30% 90%;
      }

      #question.panel.q2 .questiongroup ul li a {
          font-size: 12px;
      }

      .questiongroup .answers {
          width:94%;
          padding: 10px 3% 15px 3%;
      }

      #question.panel.q2 .questiongroup .answers {
          width:94%;
          background-image:none;
      }

      #question.panel.q2 .questiongroup ul li a span{
          margin-top:10px;
      }

      #question.panel.q2 .questiongroup ul li {
          margin: 0px 0% 40px 10%;
      }

      #question.panel.q3 .questiongroup .answers {
            width:100%;
            margin:0px;
            left:0%;
      }

      #question.panel.q3 .questiongroup .answers li {
          width: 30%;
          padding-right:0px;
          margin-right:0px;
          float:left;
      }

      #question.panel.q3 .questiongroup .answers a {
          width: 30%;
          font-size:14px;
          float:right;
          text-align:right;

      }

}
