/* Turn off transition animation */
.mobile .introanim #mask1,
.mobile .introanim #mask2,
.mobile .introanim #mask3,
.mobile .introanim #mask4,
.mobile .introanim #mask5,
.mobile .introanim #mask6{
    display:none;
    -webkit-animation: inherit;
    -moz-animation:    inherit;
	-o-animation:      inherit;
	animation:         inherit;
}

.mobile .introanim .questiongroup, .mobile .introanim .avatargroup{
	-webkit-animation: fadeinmax 1s linear 0s 1 normal forwards;
	-moz-animation:    fadeinmax 1s linear 0s 1 normal forwards;
	-o-animation:      fadeinmax 1s linear 0s 1 normal forwards;
	animation:         fadeinmax 1s linear 0s 1 normal forwards;
}

.mobile .introanim #canvas{
	-webkit-animation: fadein 5s linear 0s 1 normal forwards;
	-moz-animation:    fadein 5s linear 0s 1 normal forwards;
	-o-animation:      fadein 5s linear 0s 1 normal forwards;
	animation:         fadein 5s linear 0s 1 normal forwards;
}

.mobile #question.panel.q1 .avatargroup .zoomer{
	-webkit-animation: inherit;
	-moz-animation:    inherit;
	-o-animation:      inherit;
	animation:         inherit;
}

/*.mobile #question.panel.q2 .zoomer.male, .mobile #question.panel.q2 .avatargroup .zoomer.female{
    -webkit-animation: inherit;
	-moz-animation:    inherit;
	-o-animation:      inherit;
	animation:         inherit;
    display:none;
}

.mobile #question.panel.q2 .questiongroup .background,
.mobile #question.panel.q2 .questiongroup h1,
.mobile #question.panel.q2 .questiongroup .answers{
   -webkit-animation: fadein 1s ease-out 0s 1 normal forwards;
   -moz-animation:    fadein 1s ease-out 0s 1 normal forwards;
   -o-animation:      fadein 1s ease-out 0s 1 normal forwards;
   animation:         fadein 1s ease-out 0s 1 normal forwards;
}

.mobile #question.panel.q2 .questiongroup .spcontinue{
    -webkit-animation: fadein 1s ease-out 1s 1 normal forwards;
    -moz-animation:    fadein 1s ease-out 1s 1 normal forwards;
    -o-animation:      fadein 1s ease-out 1s 1 normal forwards;
    animation:         fadein 1s ease-out 1s 1 normal forwards;
}*/

@media only screen
  and (max-width: 1024px){

      .questiongroup h1 {
          margin-top: 100px;
          font-size: 50px;
      }

      #question.panel.q2 .questiongroup .answers {
          background-position-y: 40%;
     }

      .questiongroup .yesno {
          margin: -52px 0px 0px 0px;
      }

      .questiongroup ul.yesno li a, .questiongroup li a, .questiongroup .answers li label {
          padding: 12px 0px;
          font-weight: 300;
          font-style: normal;
          font-size: 12px;
      }

      .questiongroup ul.yesno li{
          padding:0px;
          margin:0px;
      }

      .questiongroup .answers .multichoice {
          margin-top: 70px;
      }

      .questiongroup .answers {
          width:80%;
          min-height: 250px;
          padding: 20px 10% 30px 10%;
    }

}

/* Portrait */
@media only screen
  and (max-width: 700px){

      body{
          background-position:center center;
      }

      #helpbox {
          font-size:12px;
          line-height:14px;
          width:80%;
          left:5%;
          padding:5%;
      }

      .panel .windowzoom {
          /*width: 640;
          height: 100%;
          left: 0%;
          margin-left: 0px;*/
      }

      .questiongroup {
        width: 90%;
        margin: 10px 5%;
        }

      .questiongroup .yesno {
          margin: -42px 0px 0px 0px;
      }

      .questiongroup h1{
          margin-top:100px;
          font-size:25px;
      }

      #question.panel.q2 .questiongroup h1{
          margin-top:50px;
      }

      .questiongroup h1 span{
          font-size:12px;
          line-height: 20px;
      }

      .questiongroup .answers {
          width:94%;
          padding: 10px 3% 25px 3%;
      }

      .questiongroup ul li {
          width: 100%;
          margin: 0px 0% 1px 5%;
      }

      .questiongroup ul.yesno li a, .questiongroup li a, .questiongroup .answers li label {
          padding: 12px 0px;
          font-weight: 300;
          font-style: normal;
          font-size: 12px;
      }

      .questiongroup ul.yesno li{
          padding:0px;
          margin:0px;
      }

      .questiongroup .answers .multichoice {
          margin-top: 50px;
          padding-left:2%;
      }

      .questiongroup .answers .multichoice li {
          width: 100%;
          padding-bottom:5px;
      }

      .questiongroup .answers .multichoice li input[type=checkbox] {
      margin-right: 10px;
      vertical-align: middle;
      transform: scale(1.5);
      -webkit-transform: scale(1.5);
      }

      .questiongroup a.continue {
          padding: 5px 50px;
          font-size: 18px;
          bottom: 20px;
      }

      #question.q1.panel .questiongroup h1{
          font-size:40px;
      }

      #intro .questiongroup h1{
          top:27%;
          font-size: 20px;
      }

      #question.q1.panel .questiongroup h1{
          top:30%;
      }

      #intro .questiongroup h1 span, #question.q1.panel .questiongroup h1 span {
          font-size:12px;
          line-height: 40px;
      }

      #intro.panel .questiongroup .answers, #question.q1.panel .questiongroup .answers {
          /*height:100%;
          top:0%;*/
      }

      /*#intro.panel .questiongroup .avatargroup .zoomer, #question.q1.panel .questiongroup .avatargroup .zoomer{
          position:absolute;
          float:left;
          margin:0px;
          padding:0px;
          left:50%;
      }*/

      /*#intro.panel .questiongroup .avatargroup .zoomer.male, #question.q1.panel .questiongroup .avatargroup .zoomer.male{
          top:0%;
          left:0%;
          transform-origin: 50% 10%;
      }

      #intro.panel .questiongroup .avatargroup .zoomer.female, #question.q1.panel .questiongroup .avatargroup .zoomer.female{
          bottom:0%;
          left:0%;
          transform-origin: 50% 90%;
      }*/

      #question.panel.q2 .questiongroup ul li a {
          font-size: 12px;
      }

      #question.panel.q2 .questiongroup .answers {
          width:94%;
          background-image:none;
      }

      #question.panel.q2 .questiongroup .answers ul {
          background-image:none;
      }

      #question.panel.q2 .questiongroup ul li a span{
          margin-top:10px;
      }

      #question.panel.q2 .questiongroup ul li {
          margin: 0px 0% 40px 10%;
      }

      #question.panel.q3 .questiongroup .answers {
            width:100%;
            margin:0px;
            left:0%;
            top: 30%;
            height: 45%;
            background-position-y: center;
      }

      #question.panel.q3 .questiongroup .answers li {
          width: 30%;
          padding-right:0px;
          margin-right:0px;
          margin-top: 40px;
          float:left;
      }

      #question.panel.q3 .questiongroup .answers li:first-child {
          margin-top: 20px;
      }

      #question.panel.q3 .questiongroup .answers li a {
          width: 100%;
          font-size:14px;
          float:right;
          text-align:right;
          margin:0px;
          padding:0px;
          display:block;
      }

      #question.panel.q3 .questiongroup .beta, #question.panel.q3 .questiongroup .gamma {
          font-size:10px;
          width:100%;
          margin: 10px 0% 0px 0%;
      }

      #question.panel.q3 .questiongroup .answers.beta, #question.panel.q3 .questiongroup .answers.gamma{
          width:100%;
          height:60%;
          margin:0%;
      }

      #question.panel.q3 .questiongroup .answers.beta li, #question.panel.q3 .questiongroup .answers.gamma li{
          width:100%;
          height:47%;
          margin-top:-20%;
      }

      #question.panel.q3 .questiongroup .answers.beta li:first-child, #question.panel.q3 .questiongroup .answers.gamma li:first-child{
          margin-top:0%;
      }

      #question.panel.q3 .questiongroup .answers.beta li a, #question.panel.q3 .questiongroup .answers.gamma li a{
          height:100%;
          background-position-x:100%;
      }

      #question.panel.q3 .questiongroup .answers.beta, #question.panel.q3 .questiongroup .answers.gamma {
          top: 25%;
      }

      #question.panel.q3 .questiongroup .answers.beta li a, #question.panel.q3 .questiongroup .answers.gamma li a {
          width: 100%;
          height: 90px;
      }

      #question.panel.q3 .questiongroup .answers.beta li.dkcontinue a, #question.panel.q3 .questiongroup .answers.gamma li.dkcontinue a {
          left: 0%;
          width: auto;
          height: auto;
          float: left;
          clear: both;
          margin: 10% 5px;
          position: static;
          padding: 5px;
      }

      .ui-widget-content .ui-state-default {
          width: 100px;
          height: 100px;
          background-scale:contain;
          margin: -40px 0px 0px -50px;
      }

      .questiongroup .answers.temperature #tempscale {
          width:100%;
          top:0%;
      }

      .questiongroup .answers.temperature {
      width: 100%;
      height:50%;
      min-height:100px;
      padding: 20px 0% 50px 0%;
      background:none;
      border:none;
      }

      .questiongroup .answers.temperature #tempscale{
          height:150px;
      }

      .questiongroup .answers.temperature #temptable {
          margin: 30px 5% 0% 5%;
        }

      .questiongroup .answers.temperature #temptable tr td.cold, .questiongroup .answers.temperature #temptable tr td.hot {
          font-size:14px;
      }

      .questiongroup .answers.temperature #temptable tr td{
          text-transform:uppercase;
      }

      .questiongroup .answers.temperature #tempscale .flare {
          top:150%;
      }
/*
      .questiongroup .answers.temperature #tempscale .flare {
          display:none;
      }

      .questiongroup .answers.temperature #temptable tr td.cold, .questiongroup .answers.temperature #temptable tr td.hot {
          transform: rotate(90deg);
          position:absolute;
          font-size:14px;
          text-transform:uppercase;
      }

      .questiongroup .answers.temperature #temptable tr td.cold{
          top:-25%;
          left:-45%;
      }

      .questiongroup .answers.temperature #temptable tr td.hot{
          top:140%;
          left:90%;
      }*/

      #result .hotspot{
          display:none;
      }

      #result .hero{
          top:5%;
      }

      #result a.detail{
          font-size:72px;
          width:100%;
          margin:-72px 0px 0px 0px;
          text-align:center;
      }


      #result div.product {
          font-size: 18px;
          padding-top: 140px;
          background-position: center 0px;
      }

      #result strong.product  {
          font-size: 24px;
      }

      #result .products{
          bottom:15%;
      }

      #result a.buy, #result a.email {
          width: 45%;
          padding: 5px 0px;
          font-size: 9px;
          text-align: center;
          margin:2%;
      }

      #result .dumbell li div {
          width: 10px;
          height: 10px;
          margin-top:-5px;
    }

    #result .dumbell li.selected div {
        width: 20px;
        height: 20px;
        margin-top:-10px;
        margin-left:-5px;
  }


      #result .products li {
          width: 32%;
          height: 20px;
          float: left;
          margin-left: 2%;
          background-size: contain;
          background-repeat: no-repeat;
          text-align: center;
          font-size: 11px;
          font-weight: normal;
      }

      #result .products .prodselection li{
          height:100px;
      }

}

@media only screen
  and (max-height: 500px){

      .questiongroup ul li, .yesno li {
      width: 40%;
     }

     ul.yesno li a, .questiongroup li a, .questiongroup .answers li label {
      padding: 6px 0px;
      font-size: 12px;
    }

    .questiongroup .answers.temperature #tempscale{
        margin-top: 15px;
    }

.questiongroup .answers.temperature {
  padding: 40px 0% 50px 0%;
}

    .questiongroup .answers {
      min-height: 130px;
    }

    .questiongroup h1 {
  margin-top: 30px;
}

#question.panel.q2 .questiongroup h1{
    margin-top:10px;
}

.questiongroup .answers .multichoice li {
  width: 50%;
  }

  ul.yesno li a, .questiongroup .answers li label {
  padding: 0px 0px;
  font-size: 10px;
}

.questiongroup .answers .multichoice li .customcheck {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  }

      #question.panel.q1 .questiongroup h1 {
      top: 17%;
    }

    #intro .questiongroup h1 {
    top: 17%;
  }

    #intro.panel .questiongroup .answers {
  top: 15%;
}

#question.panel.q1 .questiongroup .answers, #question.panel.q2 .avatargroup {
  top: 5%;
}

    #question.panel.q3 .questiongroup .answers li {
        margin-top: 10px;
    }

    #result .product {
        font-size: 14px;
        padding-top: 80px;
  }

  #result .product strong {
  margin-bottom: 10px;
  margin-top:0px;
  }
}
