#intro.panel{
    position:absolute;
    display:block;
    background-color:transparent;
    overflow:hidden;
}

.panel .swoop{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    background-size: cover;
    z-index:-1;
}

#canvas{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top:auto;
    bottom: 0%;
    left: 0%;
    background:transparent;
    z-index:-1;
}

#intro.panel span.bubble {
  background:#fff;
  width:80px;
  height:80px;
  position:absolute;
  display:block;
  left:110px;
  bottom:110px;
  border-radius:100px;
  background:-moz-radial-gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background:-webkit-gradient(radial, center center, 0, center center, 100, from(rgba(75,190,200,.2)), to(rgba(255,255,255,.7)));
  background:gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(9,133,167,0.1) 51%, rgba(9,133,167,0.3) 71%, rgba(9,133,167,.7) 100%);
  animation:bubbleUp 4s infinite ease-in-out;
  -webkit-animation:bubbleUp 4s infinite ease-in-out;
  -o-animation:bubbleUp 4s infinite ease-in-out;
  -moz-animation:bubbleUp 4s infinite ease-in-out;
}

#intro.panel #mask1{
    z-index:0;
}

.panel #frame1{
    background-image:url('../img/bkg_swoop_1.png');
    z-index:-1;
}

#intro.panel #mask2{
    z-index:-2;
}

.panel #frame2{
    background-image:url('../img/bkg_swoop_2.png');
    z-index:-3;
}

#intro.panel #mask3{
    z-index:-4;
}

.panel #frame3{
    background-image:url('../img/bkg_swoop_3.png');
    z-index:-5;
}

#intro.panel #mask4{
    z-index:-6;
}

.panel #frame4{
    background-image:url('../img/bkg_swoop_4.png');
    z-index:-7;
}

#intro.panel #mask5{
    z-index:-8;
}

.panel #frame5{
    background-image:url('../img/bkg_swoop_5.png');
    z-index:-9;
}

#intro.panel #mask6{
    z-index:-10;
}

.panel #frame6{
    background-image:url('../img/bkg_swoop_6.png');
    z-index:-11;
}

#intro .questiongroup{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    z-index:100;
    overflow:hidden;
}

#intro .questiongroup h1{
    font-weight:300;
    position:absolute;
    left: 0%;
    top:15%;
    width: 100%;
    text-align: center;
    margin: 0px;
}

#intro .questiongroup h1 span{
    line-height:50px;
}

#intro a.start{
    position:static;
    display: initial;
    font-weight: 300;
    background: #5da6f5;
    color: #fff;
    border-radius: 0px;
    width: auto;
    padding: 5px 50px;
    border:none;
    text-transform:uppercase;
    font-size:20px;

}

#intro a.start{

}

#intro.panel .questiongroup .answers {
    border:none;
    background:transparent;
    padding: 0%;
    top: 25%;
    width: 1280px;
    height: 400px;
}

#intro.panel .questiongroup .avatargroup .zoomer {
    float:left;
    width: 460px;
    height: 400px;
    -webkit-transform: scale(0.666) translate(0%,0%);
    -moz-transform: scale(1) translate(0%,0%);
    transform: scale(0.666) translate(0%,0%);
}

#intro.panel .avatar{
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 460px;
    height: 400px;
    margin: 0% 2% 0% 2%;
    text-transform:uppercase;
    text-decoration:none;
    color:#fff;
    font-family: "Gotham Narrow A";
    border-bottom:solid 1px rgba(0,0,0,0.3);
    font-size:42px;
    float:left;
    border:none;
    animation:         play 3.3s steps(33) infinite;
    -webkit-animation: play 3.3s steps(33) infinite;
	-moz-animation:    play 3.3s steps(33) infinite;
	-o-animation:      play 3.3s steps(33) infinite;
}

#intro.panel .avatar span{
    position: absolute;
    bottom: 0;
}

#intro.panel .zoomer.male{
    margin-left:5%;
}

#intro.panel .avatar.male{
    text-align:right;
    color:#ccf;
    /*border-color:rgba(200,200,255,0.3);*/

}

#intro.panel .avatar.male span{
    right: 58%;
}

#intro.panel .avatargroup .zoomer.female{
    float:right;
    margin-right:5%;
}

#intro.panel .avatar.female{
    text-align:left;
    color:#fcc;
    /*border-color:rgba(255,200,200,0.3);*/
    float:right;
}


@-webkit-keyframes play {
    100% { background-position: -15180px; }
}
@-moz-keyframes play {
    100% { background-position: -15180px; }
}
@-o-keyframes play {
    100% { background-position: -15180px; }
}
@keyframes play {
   100% { background-position: -15180px; }
}
