#question.panel.q1 {
    background: transparent;
}

#question.panel.q1 .questiongroup{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    z-index:100;
}

#question.panel.q1 .questiongroup h1{
    position:absolute;
    left: 0%;
    top:20%;
    width: 100%;
    font-size: 80px;
    text-align: center;
    margin: 0px;
}

#question.panel.q1 .questiongroup .answers {
    border:none;
    background:transparent;
    padding: 0%;
    width: 1280px;
    height: 400px;
    top: 25%;
}

#question.panel.q1 .questiongroup .avatargroup .zoomer {
    float:left;
    width: 460px;
    height: 400px;
    -webkit-transform: scale(1) translate(0%,0%);
    -moz-transform: scale(1) translate(0%,0%);
    transform: scale(1) translate(0%,0%);
}

#question.panel.q1 .avatar{
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 460px;
    margin: 0% 2% 0% 2%;
    text-transform:uppercase;
    text-decoration:none;
    color:#fff;
    font-family: "Gotham Narrow A";
    border-bottom:solid 1px rgba(0,0,0,0.3);
    font-size:36px;
    animation:         play 3.3s steps(33) infinite;
    -webkit-animation: play 3.3s steps(33) infinite;
	-moz-animation:    play 3.3s steps(33) infinite;
	-o-animation:      play 3.3s steps(33) infinite;
}

#question.panel.q1 .avatar span{
    position: absolute;
    bottom: 0;
}

#question.panel.q1 .zoomer.male{
    margin-left:5%;
}

#question.panel.q1 .avatar.male{
    text-align:right;
    color:#ccf;
    border-color:rgba(200,200,255,0.3);
}

#question.panel.q1 .avatar.male span{
    right:0%;

}

#question.panel.q1 .avatargroup .zoomer.female{
    float:right;
    margin-right:5%;
}

#question.panel.q1 .avatar.female{
    text-align:left;
    color:#fcc;
    border-color:rgba(255,200,200,0.3);

}

/*
#question.panel.q1 .questiongroup {
    position:absolute;
    text-align: center;
    width: 100%;
    margin: 10px 0%;
    z-index:100;
    bottom:50%;
}



#question.panel.q1 .avatar img{
    -webkit-transition: all 500ms ease-out 1s;
   -moz-transition: all 500ms ease-out 1s;
   -o-transition: all 500ms ease-out 1s;
   transition: all 500ms ease-out 1s;
}

#question.panel.q1 .avatar.embiggen img {
    -ms-transform: scale(2,2);
    -webkit-transform: scale(2,2);
    transform: scale(2,2);
}


*/

@-webkit-keyframes play {
    100% { background-position: -15180px; }
}
@-moz-keyframes play {
    100% { background-position: -15180px; }
}
@-o-keyframes play {
    100% { background-position: -15180px; }
}
@keyframes play {
   100% { background-position: -15180px; }
}

@-webkit-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes zoomin {
  0%   {
      border-color:transparent;
      color:transparent;
      -webkit-transform: scale(0.66) translate(0%,0%);
      -moz-transform: scale(0.66) translate(0%,0%);
      transform: scale(0.66) translate(0%,0%);
  }
  50% {
      -webkit-transform: scale(1) translate(0%,0%);
      -moz-transform: scale(1) translate(0%,0%);
      transform: scale(1) translate(0%,0%);
  }
  70% {
      border-color:transparent;
      color:transparent;

  }
  100% {
      -webkit-transform: scale(1) translate(0%,0%);
      -moz-transform: scale(1) translate(0%,0%);
      transform: scale(1) translate(0%,0%);
  }
}
@-moz-keyframes zoomin {

}
@-o-keyframes zoomin {

}
@keyframes zoomin {

}

#question.panel.q1 h1{
	-webkit-animation: fadein 0.25s linear 0s 1 normal forwards;
	-moz-animation:    fadein 0.25s linear 0s 1 normal forwards;
	-o-animation:      fadein 0.25s linear 0s 1 normal forwards;
	animation:         fadein 0.25s linear 0s 1 normal forwards;
}

#question.panel.q1 .avatargroup .zoomer{
	-webkit-animation: zoomin 0.5s ease-out 0s 1 normal forwards;
	-moz-animation:    zoomin 0.5s ease-out 0s 1 normal forwards;
	-o-animation:      zoomin 0.5s ease-out 0s 1 normal forwards;
	animation:         zoomin 0.5s ease-out 0s 1 normal forwards;
}
