#question.panel.q3 .questiongroup{


}

#question.panel.q3 .questiongroup .answers {
    width: 1280px;
    height:450px;
    bottom: 0%;
    left:auto;
    right:0%;
    padding: 0px 0% 0% 0%;
    float:right;
    border:none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: 550%;
    background-position-x: 100%;
    background-size: contain;
    overflow: hidden;
    -webkit-transition: all 500ms ease-out 0.25s;
   -moz-transition: all 500ms ease-out 0.25s;
   -o-transition: all 500ms ease-out 0.25s;
   transition: all 500ms ease-out 0.25s;
}

#question.panel.q3 .questiongroup .answers.alpha {
/*    background-image: url('../img/sleepposition_stomach.png');*/
}

#question.panel.q3 .questiongroup.backpos .answers {
    background-image: url('../img/sleepposition_back_male.png');
    background-position-x: 100%;
}
#question.panel.q3 .questiongroup.sidepos .answers {
    background-image: url('../img/sleepposition_side_male.png');
    background-position-x: 100%;
}
#question.panel.q3 .questiongroup.stomachpos .answers {
    background-image: url('../img/sleepposition_stomach_male.png');
    background-position-x: 100%;
}

#question.panel.q3 .questiongroup.multiplepos .answers {
    background-image: url('../img/sleepposition_multiple_male.png');
    background-position-x: 100%;
}

.female #question.panel.q3 .questiongroup.backpos .answers {
    background-image: url('../img/sleepposition_back_female.png');
    background-position-x: 100%;
}
.female #question.panel.q3 .questiongroup.sidepos .answers {
    background-image: url('../img/sleepposition_side_female.png');
    background-position-x: 100%;
}
.female #question.panel.q3 .questiongroup.stomachpos .answers {
    background-image: url('../img/sleepposition_stomach_female.png');
    background-position-x: 100%;
}
.female #question.panel.q3 .questiongroup.multiplepos .answers {
    background-image: url('../img/sleepposition_multiple_female.png');
    background-position-x: 100%;
}

#question.panel.q3 .questiongroup .answers li{
    float:left;
    clear:both;
    width:350px;
    text-align:right;
    margin:41px 0% 0% 0%;
    padding:0% 40% 0% 0%;
    border:none;
    line-height:15px;
    height:20px;
}

#question.panel.q3 .questiongroup .answers li:first-child{
    margin-top:100px;
}

#question.panel.q3 .questiongroup .answers li a{
    color:#00bbdc;
}

.female #question.panel.q3 .questiongroup .answers li a{
    color:#fc8afc;
}

#question.panel.q3 .questiongroup .answers li a:hover{
    color:#fff;
}

#question.panel.q3 .questiongroup .answers.beta, #question.panel.q3 .questiongroup .answers.gamma{
    width: 902px;
    height: 445px;

}

#question.panel.q3 .questiongroup .beta, #question.panel.q3 .questiongroup .gamma{
    display:none;
}

#question.panel.q3 .questiongroup .answers.beta li, #question.panel.q3 .questiongroup .answers.gamma li{
    float: left;
    width: auto;
    display: block;
    padding: 0px;
    margin: 0px;
    clear: none;
}

#question.panel.q3 .questiongroup .answers.beta li a, #question.panel.q3 .questiongroup .answers.gamma li a{
    display:block;
    float:left;
    width:300px;
    height:450px;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: left;
    background-size: contain;
}

#question.panel.q3 .questiongroup .answers.beta li.dkcontinue, #question.panel.q3 .questiongroup .answers.gamma li.dkcontinue{
    clear:both;
    float:right;
    display:block;
}

#question.panel.q3 .questiongroup .answers.beta li.dkcontinue a, #question.panel.q3 .questiongroup .answers.gamma li.dkcontinue a{
    width: auto;
    height: auto;
    float: right;
    clear: both;
    margin: 55px 25px;
}
